* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ddd;
}

.players {
    display: flex;
    justify-content: center;
    gap: 30vw;
    height: 20vh;
    background-color: gray;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.winner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vh;
    height: 15vh;
}

.board {
    display: grid;
    width: max(320px, min(60vh, 60vw));
    height: max(320px, min(60vh, 60vw));
    background-color: black;
    grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
    gap: 10px;
}

.grid, .grid-selected {
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: max(50px, min(10vh, 10vw));;
}

.grid {
    cursor: pointer;
}